## Settings file was created by plugin Valharvest v3.1.1
## Plugin GUID: com.frenvius.Valharvest

[Drop Amount]

## Amount of drop Apple from apple tree
# Setting type: Int32
# Default value: 1
AppleQuantity = 1

[Kabob]

## Change Kabob name to Kebab
# Setting type: Boolean
# Default value: true
Enable = true

[Plant Progress]

## Enable showing plant growth progress on plants
# Setting type: Boolean
# Default value: true
EnableOnPlants = true

## Enable showing plant growth progress on pickable
# Setting type: Boolean
# Default value: true
EnableOnPickable = true

[Respawn Time]

## Time in hours for apple tree to respawn apples
# Setting type: Int32
# Default value: 5
AppleRespawnTime = 5

[Salt]

## Chance of drop Salt
# Setting type: Int32
# Default value: 35
Enable = 35

[Vegetables Drop]

## Keep vegetables in monster drops
# Setting type: Boolean
# Default value: false
Enable = false

